/*font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif;

@font-face {
	font-family:Roboto-Regular;
	src:url(../fonts/Roboto-Regular.ttf);
}

*/


*{
margin: 0;
padding: 0;
}

body{
	font-family: 'Playfair Display', serif;
	color: #626262;
	}


/*h1{
	font-family: 'Playfair Display', serif;
	font-size: ;
	font-weight: ;
	color: ;

}*/




/*header start*/
header{
	/*background-color: #626262;*/
	/*border: 1px solid black;*/
	padding: 30px 0;
}

.container{
	overflow: hidden;
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid red;*/

}
.logo{
	width: 15%;
	float: left;
	/*border: 1px solid yellow;*/
}
.logo img{
	width: 70%;
	/*margin-top: 50px;*/
	/*border: 1px solid white;*/
}

.menu{
	width: 70%;
	float: right;
	/*margin-top: 50px;*/
	/*border: 1px solid red;*/

}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
	overflow: hidden;
}
.menu ul li a{
	/*font-family: sans-serif;*/
	font-size: 16px;
	font-weight: 400;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;

	margin: 0 80px;
	padding: 10px 0;
	display: inline-block;
	transition: 0.3s;
	border: 1px solid transparent;
}

.menu ul li a:hover{
	/*color: red;*/
	border-bottom: 1px solid #626262;
	padding-top: 10px 0;
}

.menu ul li:last-child a{
margin-right: 0;
}

/*header end*/


/*Banner Start*/
.banner{
	padding: 25px 0;
}

.banner img{
	width: 100%;
}


/*Banner End*/





/*Perfect Start*/

.perfect{
	padding: 60px 0;	
}
.container2{
	/*border: 1px solid yellow;*/
	width: 80%;
	margin: 0 auto;
}

.c_p{
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
}

.c_h1{
	margin-top: 20px;
	margin-bottom: 	30px;
	font-size: 30px;
	font-weight: 400;

}
.c_text{
	margin-bottom: 	40px;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
}



/*Perfect End*/



/*Blog Start*/
.blog{
	padding-top: 60px;
	overflow: hidden;
}
.single{
	margin-bottom: 50px;
	width: 	47%;
	/*border: 1px solid red;*/
	float: 	left;

}

.single:nth-child(even){
		margin-left: 5%;
}

.single img{
	width: 	100%;
	margin-bottom: 	40px;
}

/*Blog1 End*/



/*News Start*/
.news{
	background-color: #f0f0f0;
	text-align: center;
	padding: 70px 0;
}

.signup{
	font-size: 30px;
	font-weight: 400;
}

.s_h1{
	color: #33333;
	margin-top: 0;
	margin-bottom: 70px; 
}
.s_form{
	position: relative;
	width: 400px;
	/*border: 2px solid red;*/
	margin: 0 auto;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #626262;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 45px;
}

.s_form input:focus{
		outline: 0;
	}

.s_form button{
	position: absolute;
	top:15px;
	right: 0;
	background: transparent;
	border: none;
	cursor: pointer;
}

.s_form button:focus{
	outline: 0;
	}
.s_form button img{}

/*News End*/


/*Blog2 Start*/
.blog2{
	padding-top: 100px;
}
.container3{
	/*border: 1px solid yellow;*/
	width: 80%;
	margin: 0 auto;
}
/*Blog2 End*/


/*Load Button Start*/
.load{
	padding: 100px 0;
	text-align: center;
}
.load button{
	width: 166px;
	height: 60px;
	background-color: transparent;
	border: 1px solid #626262;

	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 400;	
	cursor:pointer;
}

.load button:hover{
	background-color: #626262;
	color: white;
}

.load button:focus{
	outline:0;
}
/*Load Button End*/




footer{
	background-color: #f0f0f0;
	padding: 25px 0;
}

.terms{
	width: 40%;
	float: left;
	/*margin-top: 50px;*/
	/*border: 1px solid red;*/
	overflow: hidden;

}
.terms ul{
	float: left;
}
.terms ul li{
	list-style: none;
	float: left;
	overflow: hidden;
}
.terms ul li a{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	font-weight: 400;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;

	margin: 0 30px;
	padding: 10px 0;
	display: inline-block;
	transition: 0.3s;
	border: 1px solid transparent;
}

.social{
	width: 50%;
	float: right;
	/*margin-top: 50px;*/
	/*border: 1px solid red;*/

}
.social ul{
	float: right;
}
.social ul li{
	list-style: none;
	float: left;
	overflow: hidden;
}
.social ul li a{
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;

	margin: 0 20px;
	padding: 10px 0;
	display: inline-block;
	transition: 0.3s;
	border: 1px solid transparent;
}


