body{
margin: 0;
padding: 0;

}

header{
	background-color: #FFFFFF;
}

.wrapper{
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	/*border: 1px solid red;*/

}
.logo{
	width: 25%;
	float: left;
	/*border: 1px solid red;*/
}
.logo img{
	width: 80%;
	margin-left: 13px;
}

.menu{
	width: 73%;
	float: right;
	margin-top: 1px;
	/*border: 1px solid red;*/

}
.menu ul{
	float: right;
	margin-top: 30px;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 550;
	font-size: 15px;
	color: black;
	padding: 0 130px 0 0;
	display: inline-block;
	transition: 0.3s;
	
}

.menu ul li a:hover{

	color: #3171DB;
}

.menu ul li:last-child a{
padding-right: 50px;
}




.banner{
	padding-top: 80px;
	padding-bottom: 330px;
	background-image: url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	/*google chrome, safari*/
	-webkit-background-size: cover;
	
	/*mozilla*/
	-mox-background-size: cover;

	background-position: center;
}

.b_content{
	padding: 10px 30px 50px 10px;
	width: 25%;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color:rgba(102,91,87,0.7);
	/*border: 1px solid yellow;*/
}

.b_content h1{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 80;
	line-height: 73px;
	font-size: 45px;
	color: white;
	margin: 0;
}



.b_content p{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 100;
	font-size: 27px;
	color: white;
	margin: 0;
	line-height: 34px;
}
.b_content button{
	width: 250px;
	height: 60px;
	margin-top: 50px;

	font-family: sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: white;
	border:0;
	border-radius: 5px;
	cursor: pointer;
	background-color:rgba(0,0,0,0.3);
	/*background-color: Transparent;*/
    overflow: hidden;

}

/*.b_content button:hover{
	color: white;
	background-color: blue;
	}*/

.b_content button:focus{
	outline: 0;
}
