body{
margin: 0;
padding: 0;

}

header{
	background-color: #FFFFFF;
}

.wrapper{
	overflow: hidden;
	margin: 0 auto;
	width: 100%;
	/*border: 1px solid red;*/

}
.logo{
	width: 25%;
	float: left;
	/*border: 1px solid red;*/
}
.logo img{
	width: 80%;
	margin-left: 13px;
}

.menu{
	width: 73%;
	float: right;
	margin-top: 1px;
	/*border: 1px solid red;*/

}
.menu ul{
	float: right;
	margin-top: 30px;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 550;
	font-size: 15px;
	color: black;
	padding: 0 130px 0 0;
	display: inline-block;
	transition: 0.3s;
	
}

.menu ul li a:hover{

	color: #3171DB;
}

.menu ul li:last-child a{
padding-right: 50px;
}











.banner{
	padding-top: 80px;
	padding-bottom: 330px;
	background-image: url(../images/bg1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
	/*google chrome, safari*/
	-webkit-background-size: cover;
	
	/*mozilla*/
	-mox-background-size: cover;

	background-position: center;
}

.b_content{
	padding: 10px 30px 50px 10px;
	width: 25%;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color:rgba(102,91,87,0.7);
	/*border: 1px solid yellow;*/
}

.b_content h1{
	font-family: 'Muli', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 80;
	line-height: 73px;
	font-size: 45px;
	color: white;
	margin: 0;
}



.b_content p{
	font-family: 'Lato', sans-serif;
	text-decoration: none;
	font-weight: 100;
	font-size: 27px;
	color: white;
	margin: 0;
	line-height: 34px;
}
.b_content button{
	width: 250px;
	height: 60px;
	margin-top: 50px;

	font-family: sans-serif;
	font-weight: 500;
	font-size: 22px;
	color: white;
	border:0;
	border-radius: 5px;
	cursor: pointer;
	background-color:rgba(0,0,0,0.3);
	/*background-color: Transparent;*/
    overflow: hidden;

}

/*.b_content button:hover{
	color: white;
	background-color: blue;
	}*/

.b_content button:focus{
	outline: 0;
}














/*Service Start*/

.service{
	background-color: white;
	padding: 30px 0 10px;


}
.single{
	width: 29%;
	border-right: 1px solid white;
	padding: 20px 2.1% 30px;
	float: left;
	text-align: center;
	/*border: 1px solid red;*/
	/*margin-right: 15px;*/

}

.single:last-child{
	margin-right: 0px;
	border-right: 0;
}

.top{
overflow: hidden;
/*border: 1px solid yellow;*/
}

.t_img{
	width: 100%;
	/*border: 1px solid red;*/
	/*float: left;*/
}

.t_img img{
	width: 100%;
}


.t_text{
	width: 100%;
	margin-top: 9px;

}
.t_text h2{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 25px;
	color: orange;
	margin: 0;
	padding-bottom: 5px;

}


.top button{
	width: 87px;
	height: 32px;
	margin-top: 10px;

	font-family: sans-serif;
	font-weight: 400;
	font-size: 12px;
	color: white;
	border:1;
	border-radius: 5px;
	cursor: pointer;
	background-color: #0178BC;

}


/*Service End*/














/*Footer Start*/
footer{
	background-color: white;
	text-align: center;
	padding-top: 50px;
}
.footer_content h4{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 15px;
	color: black;
	margin: 0;
	padding-bottom: 5px;
}
.footer_content h5{
	font-family: sans-serif;
	font-weight: 100;
	font-size: 12px;
	color: black;
	margin: 0;
	padding: 5px 0 10px 0;
}

.footer_content img{
    width: 10%;
    height: auto;
}



/*Footer End*/
